// Colors

$color_primary_dark: #141414;
$color_primary_light: #1f1f1f;
$color_secondary_dark: #8C92AC;
$color_secondary_light: #E9DCBE;
$color_button_light : #E9DCBE;
$color_button_dark: #8C92AC;
$color_light: #fff;
$color_dark: #B5B5B5;

// Text Styles

$text_color_primary: $color_button_light;
$text_color_secondary: $color_secondary_light;
$text_color_light: $color_light;
$text_color_dark: $color_dark;



